@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

a:not([class]) {
  @apply border-b border-solid border-light;
  @apply text-accent no-underline;
  transition: border-color .15s;
}

a:not([class]):hover,
a:not([class]):focus {
  @apply border-accent;
}

strong, b {
  @apply text-darkest;
  @apply font-medium;
}

.container {
  max-width: 576px;
  @apply px-6;
  @apply m-auto;
}

@screen lg {
  .container {
    max-width: 1000px;
  }
}

.btn {
  @apply inline-block relative overflow-hidden;
  @apply px-6;
  @apply bg-accent rounded-full shadow-inner;
  @apply leading-lg font-heading font-medium;
  @apply text-sm text-black no-underline;
}

.btn:after {
  @apply absolute;
  @apply w-full h-full;
  @apply bg-white rounded-full;
  content: '';
  top: 0; left: 0;
  opacity: .1;
  transition: transform .15s;
  transform: scaleX(0);
}

.btn:hover:after,
.btn:focus:after {
  transform: scaleX(1);
}

.main-title {
  @apply mb-4;
  @apply leading-lg text-2xl;
  @apply font-heading font-medium;
  @apply text-darkest tracking-tight;
}

@screen lg {
  .main-title {
    @apply leading-xl text-5xl;
  }
}

.title {
  @apply mb-4;
  @apply font-heading font-medium text-lg;
  @apply text-darkest;
}

.main-title:after, 
.title:after {
  content: '.';
}

.article {
  @apply block py-4 px-6;
  @apply border border-solid border-light rounded-sm;
  @apply leading-sm;
  @apply text-darker no-underline;
  transition: border-color .15s;
}

.article:hover,
.article:focus {
  @apply border-accent;
}

.article-title {
  @apply truncate;
  @apply text-sm font-medium;
  @apply text-darkest;
}